section.productWrapper.pd-80
	.container-fluid
		.mainWrapper
			.row
				.col-lg-4.col-xl-3
					.tourNewsNavigation
						.tourNewsNavigation__title
							p Destination
						.tourNewsNavigation__list
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Vietnam
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Laos
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Cambodia
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Myanma
							.tourNewsNavigation__item
								a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
					.tourNewsNavigation
						.tourNewsNavigation__title
							p Deals
						.tourNewsNavigation__list
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Free cancellation
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Reserve now, pay at stay
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Properties with special offers
					.tourNewsNavigation
						.tourNewsNavigation__title
							p Property types
						.tourNewsNavigation__list
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Hotels
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span B&B &Inns
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Apartment
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Villas
							.tourNewsNavigation__item
								a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
					.tourNewsNavigation
						.tourNewsNavigation__title
							p Amenities
						.tourNewsNavigation__list
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Free wifi
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Breakfast included
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Swimming pool
							.tourNewsNavigation__item
								label.form__checkbox--custom-1
									input(type="checkbox")
									span Parking
							.tourNewsNavigation__item
								a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
				.col-lg-8.col-xl-9
					p.information 234 properties
						span  in Hotels
					.row.hotel__list
						- for(i=1;i<10;i++)
							.col-sm-6.col-2xl-4.tourNewsItem__col
								a.tourNewsItem(href="#")
									.tourNewsItem__img.overflow-hidden
										img.fullsize.object-cover(src="./assets/destinations/5.jpg")
									.tourNewsItem__content
										h4.tourNewsItem__title Ha Long Bay, Vietnam
										.tourNewsItem__rating.rating__bar
											.star
											.star__color(data-rating="0.7")
										.tourNewsItem__bottom
											.tourNewsItem__price
												span From 
												b $500
											span.btn.btn__submit See more
					.row
						.col-12.formTourSearch__loadmore.text-center
							a.text-uppercase Load more 
							span.fas.fa-redo-alt