.breadcrumb__list {
	padding-left: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.breadcrumb__item {
	+ .breadcrumb__item {
		&:before {
			margin: 0 5px;
			content: '>';
			color: #707070;
		}
	}
}
.breadcrumb__link {
	color: #707070;
	font-size: 1.7rem;
}
