// tourItem
.tourNewsItem {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 30px;
	@media (min-width: 1025px) {
		border: 4px solid transparent;
		transition: all 0.3s ease;
		&:hover {
			border: 4px solid map-get($color, main);
		}
	}
}
.tourNewsItem__img {
	border-top-left-radius: 26px;
	border-top-right-radius: 26px;
}
.tourNewsItem__title {
	color: map-get($color, text);
	font-size: 2rem;
	margin-bottom: 10px;
}
.tourNewsItem__bottom {
	display: flex;
	align-items: center;
	margin-top: 10px;
	.btn__submit {
		padding: 0 20px;
		font-size: 1.6rem;
		height: 50px;
		border: 1px solid map-get($color, main);
		box-shadow: none;
		margin-left: auto;
	}
}
.tourNewsItem__price {
	span {
		color: #707070;
		font-size: 1.4rem;
	}
	b {
		font-size: 2.4rem;
		color: map-get($color, main);
		margin-left: 5px;
	}
}
.tourNewsItem__review {
	margin-top: 10px;
}
.tourNewsItem__reviewFlag {
	margin-left: auto;
}
.tourNewsItem__reviewContent {
	margin-right: 10px;
	p,
	time {
		font-weight: 600;
		font-size: 1.4rem;
		color: #b0b0b0;
	}
}
.tourNewsItem__description {
	margin-top: 15px;
	p {
		font-size: 1.6rem;
		color: #333333;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 7;
	}
}
.tourNewsItem__button {
	margin-top: 15px;
	text-align: right;
	span,
	a {
		color: map-get($color, main);
	}
}
.tourNewsItem__socials {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	a {
		margin-right: 10px;
	}
}
.tourNewsItem__content {
	height: 100%;
	padding: 25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 3px 6px #d6d6d6;
	@media (max-width: 1199.98px) {
		padding: 20px;
	}
	@media (max-width: 767.98px) {
		padding: 15px;
	}
}
