.ab-1 {
    .content {
        padding: 0 16.67%;
        p {
            font-size: 2rem;
            text-align: center;
        }
        @media (max-width: 1023.98px) {
            padding: 55px 8.33%;
        }
        @media (max-width: 575.98px){
            padding: 0 10px;
            p {
                font-size: 1.4rem;
                text-align: justify;
                text-align-last: center;
            }
        }
    }
}