.ourCommitment__content {
	width: 100%;
	max-width: 1240px;
	.section-title {
		padding-top: 85px;
		margin: 0 -8.33%;
		font-size: 3.6rem;
		font-weight: 700;
		color: map-get($color, text);
	}
	@media (max-width: 1023.98px) {
		.section-title {
			font-size: 2rem;
		}
	}
	@media (max-width: 575.98px) {
		padding: 0 8.33%;
		.section-title {
			padding-top: 30px;
		}
	}
}

.aboutSubBanner {
	.image {
		img {
			opacity: 0.75;
		}
	}
}
