.ourCommitment__content {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.ourCommitment__subTitle {
	width: 100%;
	max-width: 875px;
	margin: 0 auto;
	h3 {
		padding-top: 85px;
		font-size: 3.6rem;
		font-weight: 700;
		color: map-get($color, text);
	}
}
.aboutSubBanner {
	.image {
		img {
			opacity: 0.75;
		}
	}
}
