.ab-4 {
    .content {
        padding: 0 25%;
        text-align: center;
        .section-title {
            padding-top: 85px;
            margin: 0 -8.33%;
            font-size: 3.6rem;
            font-weight: 700;
            color: map-get($color, text);
        }
        @media (max-width: 1023.98px) {
            .section-title {
                font-size: 2rem;
            }
        }
        @media (max-width: 575.98px) {
            padding: 0 8.33%;
            .section-title {
                padding-top: 30px;
            }
        }
    }
}
.ab-img {
    .background-img{
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .text-background {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            p {
                font-size: 4.8rem;
                color: map-get($color, trang);
            }
            @media (max-width: 1023.98px) {
                p {
                    font-size: 4rem;
                }
            }
            @media (max-width: 767.98px) {
                p {
                    font-size: 3.3rem;
                }
            }
            @media (max-width: 575.98px) {
                p {
                    font-size: 2.8rem;
                    width: max-content;
                }
            }
        }
    }
}