@font-face {
    font-family: 'Muli';
    src: local('Muli Light'), local('Muli-Light'),
        url('../fonts/Muli-Light.woff2') format('woff2'),
        url('../fonts/Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Bold'), local('Muli-Bold'),
        url('../fonts/Muli-Bold.woff2') format('woff2'),
        url('../fonts/Muli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
        url('../fonts/Muli-ExtraLight.woff2') format('woff2'),
        url('../fonts/Muli-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli'),
        url('../fonts/Muli.woff2') format('woff2'),
        url('../fonts/Muli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('../fonts/Muli-SemiBold.woff2') format('woff2'),
        url('../fonts/Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* MaterialDesignIcons.com */
@font-face {
	font-family: 'Material Design Icons';
	src: url('../fonts/materialdesignicons-webfont.eot?v=5.6.55');
	src: url('../fonts/materialdesignicons-webfont.eot?#iefix&v=5.6.55')
			format('embedded-opentype'),
		url('../fonts/materialdesignicons-webfont.woff2?v=5.6.55')
			format('woff2'),
		url('../fonts/materialdesignicons-webfont.woff?v=5.6.55') format('woff'),
		url('../fonts/materialdesignicons-webfont.ttf?v=5.6.55')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

.mdi:before,
.mdi-set {
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: inherit;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
