html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 52.5%;

	@media (min-width: 768px) {
		font-size: 57.5%;
	}
	@media (min-width: 1200px) {
		font-size: 62.5%;
	}
}
main,
footer {
	transition: all 0.3s ease;
}

button,
input {
	border: 0;
}

.backdrop {
	background: rgba(map-get($color, den), 0.85);
	z-index: 2000;
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s cubic-bezier(0.35, 0.6, 0.5, 1);
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
	&.show {
		opacity: 1;
		visibility: visible;
		border-bottom-left-radius: 0%;
		border-bottom-right-radius: 0%;
	}
}

.pushedRight {
	transform: translateX(50%);
}

.mainWrapper {
	max-width: 1760px;
	margin: 0 auto;
	width: 100%;
	&.line {
		padding-bottom: 80px;
		border-bottom: 1px solid #d6d6d6;
	}
}
