html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 52.5%;

	@media (min-width: 768px) {
		font-size: 57.5%;
	}
	@media (min-width: 1200px) {
		font-size: 62.5%;
	}
}
main,
footer {
	transition: all 0.3s ease;
}

button,
input {
	border: 0;
}

.backdrop {
	background: rgba(map-get($color, den), 0.85);
	z-index: 2000;
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s cubic-bezier(0.35, 0.6, 0.5, 1);
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
	&.show {
		opacity: 1;
		visibility: visible;
		border-bottom-left-radius: 0%;
		border-bottom-right-radius: 0%;
	}
}

.pushedRight {
	margin-left: 120px;
}

.mainWrapper {
	max-width: 1760px;
	margin: 0 auto;
	width: 100%;
	&.line {
		padding-bottom: 85px;
		border-bottom: 1px solid #d6d6d6;
	}
}

.fancybox-content {
	border-radius: 10px;
}

.fancybox-close-small {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px !important;
	svg {
		display: none;
	}
	&::before {
		line-height: 1;
		content: '\f00d';
		font-family: 'Font Awesome 5 Pro';
		font-size: 4rem;
		font-weight: 100;
		color: #b0b0b0;
	}
}

.main-title {
	font-size: 3.6rem;
	font-weight: 700;
	color: #20284f;
	text-align: center;
	padding-bottom: 55px;
	@media (max-width: 1199.98px) {
		padding-bottom: 40px;
	}
	@media (max-width: 767.98px) {
		margin-bottom: 25px;
	}
}

.homeTitle {
	font-size: 4rem;
	color: map-get($color, text);
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 3rem;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 125px;
		height: 4px;
		background-color: map-get($color, main);
	}
	@media (max-width: 1199.98px) {
		font-size: 3.4rem;
	}
	@media (max-width: 767.98px) {
		font-size: 2.8rem;
	}
}
.homeDescription {
	color: map-get($color, text);
	font-size: 2rem;
}
.section__titleWrapper {
	margin-bottom: 50px;
	@media (max-width: 1199.98px) {
		margin-bottom: 40px;
	}
	@media (max-width: 767.98px) {
		margin-bottom: 30px;
	}
}

.litepicker {
	z-index: 999999 !important;
}

.destinationItem--1 {
	position: relative;
	border-radius: 24px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 33%;
		z-index: 1;
		background: linear-gradient(
			180deg,
			rgba(32, 40, 79, 0) 0%,
			rgba(32, 40, 79, 0.52) 100%
		);
	}
	.destinationItem__content {
		position: absolute;
		z-index: 2;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: 25px;
		h4,
		p {
			color: map-get($color, trang);
		}
		h4 {
			font-size: 3rem;
			margin-bottom: 0.5rem;
		}
		p {
			.fas {
				font-size: 2rem;
				margin-right: 10px;
			}
		}
	}
	.destinationItem__img {
		@include imgscale(650/471);
	}
	@media (max-width: 1199.98px) {
		.destinationItem__content {
			padding: 15px;
			h4 {
				font-size: 2.6rem;
			}
		}
	}
	@media (max-width: 767.98px) {
		&:before {
			height: 70%;
		}
		.destinationItem__content {
			padding: 10px;
			h4 {
				font-size: 2.2rem;
			}
		}
	}
}
