.tourDetail__information.tourDetail__section.tourDetail__information--overview
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Overview
	.tourDetail__content
		p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
	.tourDetail__content.tourDetail__content--toggle.tourDetail__content--hide
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
	.tourDetail__contentToggle
		span.fs-18.fw-700 See more
.tourDetail__information.tourDetail__section.tourDetail__information--initerary
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Initerary
		.tourDetail__contentToggle
			span.fs-18.fw-700 See more
	.tourDetail__content
		.tourDetail__table
			.tourDetail__table--head
				.tourDetail__table--tr
					.tourDetail__table--th Day 1
					.tourDetail__table--td 
						span Hue City Tour
						span.fal.fa-chevron-down
			.tourDetail__table--body
				.tourDetail__table--tr
					.tourDetail__table--th 8:00 - 10:00
					.tourDetail__table--td
						.tourDetailTableItem
							.tourDetailTableItem__img
								img.fullsize.object-cover.lazyload.blur-up(data-src="./assets/destinations/5.jpg")
							.tourDetailTableItem__content
								h4 Chua Thien Mu
								p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
				.tourDetail__table--tr
					.tourDetail__table--th 10:00 - 14:00
					.tourDetail__table--td
						.tourDetailTableItem
							.tourDetailTableItem__img
								img.fullsize.object-cover.lazyload.blur-up(data-src="./assets/destinations/5.jpg")
							.tourDetailTableItem__content
								h4 Chua Thien Mu
								p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
.tourDetail__information.tourDetail__section.tourDetail__information--list
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Inclusions & Exclusion
	.tourDetail__content
		ul.tourDetail__list
			li Professional English-speaking guide
			li Local lunch
			li Bottle of water
			li All entrance fees
			li Air-conditioned van
			li Car insurance
			li Hotel pickup and drop-off service
			li Boat ticket to Pak Ou Caves
			li Life jacket on boat
			li German, Spanish, French, Japanese, Chinese, Korean, Russian and Vietnamese-speaking guides (available as add-ons), Korean, Russian and Vietnamese-speaking guides (available as add-ons)
.tourDetail__information.tourDetail__section.tourDetail__information--list
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Inclusions & Exclusion
	.tourDetail__content
		ul.tourDetail__list
			li Professional English-speaking guide
			li Local lunch
			li Bottle of water
			li All entrance fees
			li Air-conditioned van
			li Car insurance
			li Hotel pickup and drop-off service
			li Boat ticket to Pak Ou Caves
			li Life jacket on boat
			li German, Spanish, French, Japanese, Chinese, Korean, Russian and Vietnamese-speaking guides (available as add-ons), Korean, Russian and Vietnamese-speaking guides (available as add-ons)