.premadeTour
	.container-fluid
		.mainWrapper
			.row
				.col-xl-8
					include ../layouts/tour-detail/_photo
					include ../layouts/tour-detail/_also-like
				.col-xl-4
					include ../layouts/tour-detail/_calendar-book