.premadeTour
	.container-fluid
		.mainWrapper
			.row
				.col-xl-8.col-lg-7
					include ../layouts/tour-detail/_photo
					include overview
					include ../layouts/tour-detail/_also-like
					include ../layouts/tour-detail/_review
				.col-xl-4.col-lg-5
					include ../layouts/tour-detail/_calendar-book