.blogNavigation.blogNavigation--popular
	.blogNavigation__title
		p Popular Blogs
	.blogNavigation__list.blogNavigation__list--popular
		a.blogNavigationItem(href="blog-detail.html")
			.blogNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.blogNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020
		a.blogNavigationItem(href="blog-detail.html")
			.blogNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.blogNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020
		a.blogNavigationItem(href="blog-detail.html")
			.blogNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.blogNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020