.tourNewsNavigation
	.tourNewsNavigation__title
		p Destination
	.tourNewsNavigation__list
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Vietnam
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Laos
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Cambodia
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Myanma
		.tourNewsNavigation__item
			a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
.tourNewsNavigation
	.tourNewsNavigation__title
		p Categories
	.tourNewsNavigation__list
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Vietnam
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Laos
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Cambodia
		.tourNewsNavigation__item
			a.tourNewsNavigation__link(href="#") Myanma
		.tourNewsNavigation__item
			a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 