.blogNavigation
	.blogNavigation__title
		p Destination
	.blogNavigation__list
		.blogNavigation__item
			a.blogNavigation__link(href="#") Vietnam
		.blogNavigation__item
			a.blogNavigation__link(href="#") Laos
		.blogNavigation__item
			a.blogNavigation__link(href="#") Cambodia
		.blogNavigation__item
			a.blogNavigation__link(href="#") Myanma
		.blogNavigation__item
			a.blogNavigation__link.blogNavigation__seeAll(href="#") See All 
.blogNavigation
	.blogNavigation__title
		p Categories
	.blogNavigation__list
		.blogNavigation__item
			a.blogNavigation__link(href="#") Vietnam
		.blogNavigation__item
			a.blogNavigation__link(href="#") Laos
		.blogNavigation__item
			a.blogNavigation__link(href="#") Cambodia
		.blogNavigation__item
			a.blogNavigation__link(href="#") Myanma
		.blogNavigation__item
			a.blogNavigation__link.blogNavigation__seeAll(href="#") See All 