footer
	.container-fluid
		.mainWrapper
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis, inventore enim consectetur porro quo corrupti ipsa autem repellendus, alias aliquid, ut nobis molestiae repudiandae aspernatur. Sed repellendus accusamus laudantium.