footer
	.container-fluid
		.mainWrapper.pd-85
			.row
				.col-xl-3.fs-18
					h4.text-uppercase ERA CO.,LTD
					p Address: 34 Lo 7, Den Lu 1, Hoang Mai Dist, Hanoi, Vietnam
					p Email: info@eratour.vn
					p Phone: (+84-24) 3622 7195 / 3622 7752
					p Hotline: +84 90 341 1916
					br
					h4.text-uppercase ERIC MICHELI
					p Phone: +33 06 11 64 77 25
					p Email: eric@explorerealasia.com
					ul.footer__socials.d-flex.align-center
						li
							a(href="#")
								em.fab.fa-facebook-f
						li
							a(href="#")
								em.fab.fa-twitter
						li
							a(href="#")
								em.fab.fa-youtube
						li
							a(href="#")
								em.fab.fa-instagram
						li
							a(href="#")
								em.fab.fa-tripadvisor
				.col-xl-3
					h4 OUR INDUSTRY AFFILIATIONS AND PARTNERSHIPS
					p And we are really proud of them
				.col-xl-3
				.col-xl-3