header.mainHeader
	.container-fluid
		.mainWrapper
			.header__top.d-flex.align-center
				.header__logo
					img(src="./assets/logo.svg")
				.header__search.ml-auto
					.header__searchIcon
						span.fal.fa-search
					form.header__searchWrapper
						input#header__search(type="text", name="Search", placeholder="Find Destination")
						button.d-flex.flex-center
							span.fal.fa-search
				.header__makeMyTrip
					a.text-uppercase(href="make-my-trip.html") Make my trip
					a(href="#") Help
				.header__language
					select#header__language(name="Language")
						option EN
						option VI
				.header__currency
					span USD ($)
				.header__cart()
					.header__cartIcon
						span.fal.fa-shopping-cart
						span.header__cartText.desktop Cart
						span.header__cartNumber.flex-center.d-flex 29
				.header__toggleMobile.mobile.d-flex.align-center
					span.fal.fa-bars
			.header__bottom.d-flex.align-center
				.header__nav.d-flex
					.header__navItem
						a.header__navLink(href="/")
							span.fas.fa-home-lg-alt
							span HOME
					.header__navItem
						a.header__navLink(href="destination.html")
							span Destination
						//- span.fal.fa-chevron-down.js__toggleNavSub
						//- .header__navSub
						//- 	.js__closeNavSub.mobile
						//- 		span.fal.fa-chevron-down
						//- 		span Back
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
					.header__navItem.header__navItem--hasSub
						a.header__navLink(href="#")
							span TRAVEL STYLE
						span.fal.fa-chevron-down.js__toggleNavSub
						.header__navSub
							.js__closeNavSub.mobile
								span.fal.fa-chevron-down
								span Back
							.header__navItem
								a.header__navLink(href="travel-style.html")
									span TRAVEL STYLE
							.header__navItem
								a.header__navLink(href="travel-style.html")
									span TRAVEL STYLE
							.header__navItem
								a.header__navLink(href="travel-style.html")
									span TRAVEL STYLE
							.header__navItem
								a.header__navLink(href="travel-style.html")
									span TRAVEL STYLE
							.header__navItem
								a.header__navLink(href="travel-style.html")
									span TRAVEL STYLE
					.header__navItem.header__navItem--hasSub
						a.header__navLink(href="#")
							span Travel Services
						span.fal.fa-chevron-down.js__toggleNavSub
						.header__navSub
							.js__closeNavSub.mobile
								span.fal.fa-chevron-down
								span Back
							.header__navItem
								a.header__navLink(href="cruises.html")
									span Cruises
							.header__navItem
								a.header__navLink(href="transportation.html")
									span Transportation
							.header__navItem
								a.header__navLink(href="guide.html")
									span Guide
							.header__navItem
								a.header__navLink(href="#")
									span TRAVEL STYLE
							.header__navItem
								a.header__navLink(href="#")
									span TRAVEL STYLE
					.header__navItem.header__navItem--hasSub
						a.header__navLink(href="blog.html")
							span Blog
						span.fal.fa-chevron-down.js__toggleNavSub
						.header__navSub
							.js__closeNavSub.mobile
								span.fal.fa-chevron-down
								span Back
							.header__navItem
								a.header__navLink(href="blog.html")
									span Blog - 1
							.header__navItem
								a.header__navLink(href="blog.html")
									span Blog - 2
							.header__navItem
								a.header__navLink(href="blog.html")
									span Blog - 3
							.header__navItem
								a.header__navLink(href="blog.html")
									span Blog acbdf asdas asdas
							.header__navItem
								a.header__navLink(href="blog.html")
									span Blog - 1
					.header__navItem
						a.header__navLink(href="about.html")
							span About Us
						//- span.fal.fa-chevron-down.js__toggleNavSub
						//- .header__navSub
						//- 	.js__closeNavSub.mobile
						//- 		span.fal.fa-chevron-down
						//- 		span Back
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
						//- 	.header__navItem
						//- 		a.header__navLink(href="#")
						//- 			span TRAVEL STYLE
				.header__buttons.d-flex.align-center.ml-auto
					a.btn.btn-contact(href="javascript:void(0)" data-fancybox="" data-src="#login") Agent Hub
					a.btn.btn-contact(href="contact.html") Contact Us
.backdrop
.header__mobile.mobile
	.header__mobileWrapper
include _agent-popup
include _popup-2