header
	.container-fluid
		.mainWrapper
			.row
				.col-lg-4
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores pariatur at vitae perferendis esse impedit ab sit distinctio accusamus hic placeat, nulla, fugiat deserunt deleniti vero amet nesciunt! Iure, odit.
				.col-lg-8
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores pariatur at vitae perferendis esse impedit ab sit distinctio accusamus hic placeat, nulla, fugiat deserunt deleniti vero amet nesciunt! Iure, odit.