section.popup-2(style="display : none" id="congratulation")
    .icon-checked
        img(src="./assets/icons/1.png", alt="")
    h2.main-title Congratulation!
    h3 You have successfully 
        span Registration!
    p Your account has been created. We will reply within 24 hours after your booking.
    a.d-block(href="#") Back to home