section.ab-2.pt-80
    .container-fluid
        .mainWrapper
            h2.main-title Our team
            .slide-wrapper
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/1.png", alt="")
                                figcaption
                                    h3.name Mr. Hong Nguyen
                                    p.regency Co-founder $ CEO
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/2.png", alt="")
                                figcaption
                                    h3.name Mr. Ha Trang
                                    p.regency Co-founder $ CEO
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/3.png", alt="")
                                figcaption
                                    h3.name Mr. Duy Nguyen
                                    p.regency Co-founder $ CEO
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/4.png", alt="")
                                figcaption
                                    h3.name Mr. Mai Ha
                                    p.regency Co-founder $ CEO
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/1.png", alt="")
                                figcaption
                                    h3.name Mr. Hong Nguyen
                                    p.regency Co-founder $ CEO
                        .swiper-slide
                            figure
                                .image    
                                    img(src="./assets/about/2.png", alt="")
                                figcaption
                                    h3.name Mr. Hong Nguyen
                                    p.regency Co-founder $ CEO
                .swiper-button
                    .swiper-prev
                        em.mdi.mdi-chevron-left
                    .swiper-next
                        em.mdi.mdi-chevron-right