section.ourTeam.pt-80
	.container-fluid
		.mainWrapper
			h2.main-title Our team
			.ourTeam__slideWrapper
				.index__swiper-navigations.desktop
					.swiper__btn--prev.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-left
					.swiper__btn--next.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/1.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Hong Nguyen
									p.regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/2.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Ha Trang
									p.regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/3.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Duy Nguyen
									p.regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/4.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Mai Ha
									p.regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/1.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Hong Nguyen
									p.regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeam__item
								.image
									img(src="./assets/about/2.jpg", alt="")
								figcaption.ourTeam__description
									h3.name Mr. Hong Nguyen
									p.regency Co-founder $ CEO
					.swiper__pagination.index__swiper__pagination.mobile