section.ab-3.pt-80
	.container-fluid
		.mainWrapper.line
			h2.main-title Fast Facts
			ul
				li 1M+
					span Customers on the worlds
				li 100K+
					span Cities with Era listings
				li 50+
					span Countries and regions with Era