section.ab-4.pt-85
    .container-fluid
        .mainWrapper
            h2.main-title Our commitment
            .content
                p ERA (Explore Real Asia)’s team guiding principles are to be: Be demanding of ourselves Strive for Efficiency Give Originality Offer unrivalled local expertise and contacts Provide Quality and integrity
                h3.section-title “ERA (Explore Real Asia) specializes in satisfying discerning clients in specific markets.”
section.ab-img.pt-85
    .background-img
        img(src="./assets/about/5.png", alt="")
        .text-background
            p We are a strong team
        