section.ab-5.pt-85
    .container-fluid
        .mainWrapper.line
            h2.main-title The Era Story
            .slide-year
                .swiper-container.gallery-thumbs
                    .swiper-wrapper
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2006
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2007
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2009
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2010
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2013
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2015
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2017
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2019
                        .swiper-slide
                            .year-wrapper
                                .year-box
                            p.year 2020
            .swiper-container.gallery-top.pt-50
                .swiper-wrapper
                    .swiper-slide
                        figure
                            a(href="#")
                                .image
                                    img(src="./assets/about/6.png", alt="")
                            figcaption
                                h3.season Autumn 2006        
                                a(href="#").name-event Company establishment
                    .swiper-slide
                        figure
                            a(href="#")
                                .image
                                    img(src="./assets/about/6.png", alt="")
                            figcaption
                                h3.season Autumn 2006        
                                a(href="#").name-event Company establishment
                    .swiper-slide
                        figure
                            a(href="#")
                                .image
                                    img(src="./assets/about/6.png", alt="")
                            figcaption
                                h3.season Autumn 2006        
                                a(href="#").name-event Company establishment
                    .swiper-slide
                        figure
                            a(href="#")
                                .image
                                    img(src="./assets/about/6.png", alt="")
                            figcaption
                                h3.season Autumn 2006        
                                a(href="#").name-event Company establishment
