section.ab-7.pt-80(data-id="about-4")
	.container-fluid
		.mainWrapper.line
			h2.main-title Gallery
			.slide-image
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.image
								img(src="./assets/about/8.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/9.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/10.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
					.pagination
						.swiper-pagination
				.swiper-button-child
					.swiper-prev
						em.fas.fa-chevron-left
					.swiper-next
						em.fas.fa-chevron-right