section.ab-7.pt-80(data-id="about-4")
	.container-fluid
		.mainWrapper.line
			h2.main-title Gallery
			.slide-image
				.index__swiper-navigations.desktop
					.swiper__btn--prev.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-left
					.swiper__btn--next.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.image
								img(src="./assets/about/8.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/9.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/10.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								img(src="./assets/about/11.png", alt="")
					.pagination
						.swiper-pagination