section.ab-8.pd-80(data-id="about-5")
	.container-fluid
		.mainWrapper
			h2.main-title Others
			ul.question
				li 
					p Privacy Policy
				li 
					p Terms & Conditions & Payment method
				li 
					p Why Book With Us ?
				li 
					p Our Guide Team
				li 
					p Climate
				li 
					p F&Q
section.ab-8.pd-80(data-id="about-6")
	.container-fluid
			.button-contact#contact
				a.button(href="#") Contact Us
				p Want to find out how Era can solve problems specifict to your travel? Let’s talk