section.subpage-tab-navigation
	.container-fluid
		.mainWrapper
			.row
				.col
					.subpage-tab-navigation-wrapper
						ul.list-nav.center
							li.nav__item.active
								a.nav__link(href="#") VISA FEE
							li.nav__item
								a.nav__link(href="#") VISA DOCUMENT
							li.nav__item
								a.nav__link(href="#") How to get the visa at airport
							li.nav__item
								a.nav__link(href="#") E- VISA