sectuin.nav-about
    .nav-moblie
    ul
        li
            a.active(href="#about") About us
        li
            a(href="#story") The era story
        li
            a(href="#testimonial") Testimonials
        li
            a(href="#gallery") Gallery
        li
            a(href="#other") Others
        li
            a(href="#contact") Contact us
//- section.subpage-tab-navigation
//- 	.container-fluid
//- 		.mainWrapper
//- 			.row
//- 				.col
//- 					.subpage-tab-navigation-wrapper
//- 						ul.list-nav.center
//- 							li.nav__item.active
//- 								a.nav__link(href="#") VISA FEE
//- 							li.nav__item
//- 								a.nav__link(href="#") VISA DOCUMENT
//- 							li.nav__item
//- 								a.nav__link(href="#") How to get the visa at airport
//- 							li.nav__item
//- 								a.nav__link(href="#") E- VISA
