sectuin.nav-about
    ul
        li.active
            a(href="#") About us
        li
            a(href="#") The era story
        li
            a(href="#") Testimonials
        li
            a(href="#") Gallery
        li
            a(href="#") Others
        li
            a(href="#") Contact us