$color: (
	trang: #ffffff,
	den: #000000,
	main: #F15A24,
	vang: #f8cb00,
	xanh: #29a7c3,
);

$grad1: linear-gradient(to bottom, #e44800, #ff8600, #e36200);
$grad2: linear-gradient(to bottom, #ff6820, #f07600, #e66d03);