footer {
	background-color: map-get($color, main);

	p,
	a,
	h4 {
		color: map-get($color, trang);
	}
	h4 {
		margin-bottom: 10px;
	}
}

.footer__socials {
	margin-top: 15px;
	padding: 0;
	list-style-type: none;
	li {
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		font-size: 3rem;
		color: map-get($color, trang);
	}
	@media (max-width: 1199.98px) {
		margin-bottom: 30px;
	}
}
.footer__list {
	a {
		line-height: 1.5;
		transition: all 0.3s ease;
		span {
			font-size: 12px;
			margin-left: 10px;
		}
		+ a {
			margin-top: 5px;
		}
		@media (min-width: 1025px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	@media (max-width: 767.98px) {
		margin-bottom: 30px;
	}
}
.footer__form {
	margin-top: 20px;
	.form-group {
		margin-bottom: 15px;
	}
	.form-control {
		padding: 0.7rem 2rem;
		height: 52px;
		border-radius: 6px;
		width: 100%;
	}
	.btn__submit {
		height: 52px;
	}
	@media (max-width: 767.98px) {
		margin-bottom: 30px;
	}
}
