section.agent-hub.pd-80
    .container-fluid
        .mainWrapper
            .form-wrapper
                .agent-content
                    h2.main-title Agency registration
                    p  Our experienced Era team is committed to delivering excellence in customer service by providing expert advice and sales support solutions to you and your customers.
                form
                    .row
                        .col-lg-4
                            .form-group
                                label(for="") Frist Name
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Last name
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Email
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Main Language 
                                .select
                                    select(name="language")
                                        option(value="0")
                                        option(value="1") English
                        .col-lg-4
                            .form-group
                                label(for="") Company Name
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Company Type
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Travel Network
                                .select
                                    select(name="language")
                                        option(value="0")
                                        option(value="1") English
                        .col-lg-5
                            .form-group
                                label(for="") Attached Business License 
                                input(type="text", name="")
                        .col-lg-8
                            .form-group
                                label(for="") Address
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") State/ Province
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") ZIP/ Post
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") City
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Country
                                input(type="text", name="")
                        .col-lg-4
                            .form-group
                                label(for="") Telephone
                                input(type="text", name="")
                        .col-lg-5
                            .form-group
                                label(for="") Company Website
                                input(type="text", name="")
                        .col-lg-12
                            p.sub Subscribe to Newsletter
                            .form-checked
                                .form-group
                                    input(type="radio", name="subscribe", id="yes")
                                    label(for="yes") Yes
                                .form-group
                                    input(type="radio", name="subscribe", id="no")
                                    label(for="no") No
                        .col-lg-12
                            .form-group
                                .button
                                    button(type="submit") Submit