section.de-3.pt-80
	.container-fluid
		.mainWrapper
			p.de__title Explore more
			h2.main-title Discover Vietnam in Interesting Categories
			.categoriesGrid
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda
				.categoriesItem
					a.destinationItem--1.d-block.overflow-hidden(href="#")
						.destinationItem__img
							img.fullsize.object-cover(src="./assets/destinations/1.jpg")
						.destinationItem__content
							h4.destinationItem__title Bai Dinh Pagoda