sectuin.nav-about
    ul
        li.active
            a(href="#") Overview
        li
            a(href="#") Best tours
        li
            a(href="#") Explore more
        li
            a(href="#") Top attractions
        li
            a(href="#") Review