section.subpage-tab-navigation
	.container-fluid
		.mainWrapper
			.subpage-tab-navigation-wrapper.justify-center
				ul.scrollspyWrapper.list-nav
					li.nav__item
						a.nav__link(data-target="de-1") Overview
					li.nav__item
						a.nav__link(data-target="de-2") Best tours
					li.nav__item
						a.nav__link(data-target="de-3") Explore more
					li.nav__item
						a.nav__link(data-target="de-4") Top attractions
					li.nav__item
						a.nav__link(data-target="5") Review