section.visa-content
	p Almost all visitors to Vietnam need a visa to enter the country, although some qualified exemptions apply for citizens of those countries with bilateral reciprocal agreements with Vietnam. Depending upon the nationality and passport of the applicant, a tourist visa may be granted for either a fifteen (15) or thirty (30) day stay in Vietnam.
	h4 a. Visa fee
	p Almost all visitors to Vietnam need a visa to enter the country, although some qualified exemptions apply for citizens of those countries with bilateral reciprocal agreements with Vietnam. Depending upon the nationality and passport of the applicant, a tourist visa may be granted for either a fifteen (15) or thirty (30) day stay in Vietnam.
	h4 a. Visa fee
	p.has-checked Visa stamping fee (government official fee) is paid on arrival while picking up your visa on arrival at the airport as below:
	table
		thead
			tr
				th Tpyes
				th Price
		tbody
			tr
				td Single entry (1-3 months)
				td 25 USD/pax
			tr
				td Multiple entry (1-3 months)
				td 50 USD/pax
			tr
				td 6-month visa
				td 95 USD/pax
			tr
				td 1 year visa
				td 135 USD/pax
	p.has-checked
		b Service fee 
		| is paid to the company who follows-up the procedures at the Immigration of Vietnam to get your visa approval letter and send it to your email. Service fee is paid to the company who follows-up the procedures at the Immigration of Vietnam to get your visa approval letter and send it to your email. Explore Real Asia will assist you for the formalities. Processing visa application takes 5 working days minimum
	h4 b. Visa document
	p To save time when picking up the visa at Vietnam airport, please prepare some documents as below prior your trip: