extends components/layouts/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include components/layouts/_loading
block banner,breadcrumb
block main
	include components/index/i-1
	include components/layouts/_search-tour
	include components/index/i-2
	include components/index/i-3
	include components/index/i-4
	include components/index/i-5
	include components/index/i-6
	include components/index/i-7
block scripts
