.container-fluid
	.mainWrapper
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium exercitationem rerum sit ex, quam quae dolore nam. Quasi consectetur aliquam repudiandae eum reiciendis atque? Doloremque consequatur deserunt ad veniam totam.
