.homeBanner
	.swiper-container.js__homeBanner
		.swiper-wrapper
			.swiper-slide
				img.fullsize.object-cover(src="./assets/banner_1.jpg")
			.swiper-slide
				img.fullsize.object-cover(src="./assets/banner_1.jpg")
			.swiper-slide
				img.fullsize.object-cover(src="./assets/banner_1.jpg")
			.swiper-slide
				img.fullsize.object-cover(src="./assets/banner_1.jpg")