.charmingDestination.pt-80
	.container-fluid
		.mainWrapper
			.section__titleWrapper
				h2.homeTitle.text-center Charming Destination
				p.homeDescription.text-center From historical cities to natural splendours, come to see the best visited places!