.tourDetail__photo
	h2.tourDetail__title Photos
	.tourDetail__bigSlider
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/tour-detail/1.jpg", alt="")
	.tourDetail__smallSlider
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgBox
						img(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img(src="./assets/tour-detail/1.jpg", alt="")
				.swiper-slide
					.imgBox
						img(src="./assets/tour-detail/1.jpg", alt="")